{% extends 'base.html' %}
{% block css %}
<style>
    body{
        padding-top:100px;
        align-content:center;
    }
    form{
        display:flex;
        justify-content:center;
    }
   
</style>
{% endblock %}
{% block body %}
<div class="container">
    <h2 class="text-center">Update Blog </h2>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="">
            {{form.as_p}}
            <button type="submit" class="btn btn-primary" >Update</button>
        </div>
       
    </form>
</div>
{% endblock %}